.App {
	color: white;
	background-color: darkslategray;
	display: block;
	margin: auto;
	padding: 5px;
	font-size: 14px;
	text-align: center;
	height: calc(100vh - 10px);
	width: calc(100% - 10px);
	justify-content: center;
}
