.action-bar {
	position: absolute;
	top: calc(100vh - 53px);
	width: calc(100% - 16px);
	height: 48px;
	background-color: cornflowerblue;
	padding: auto;
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(6, 1fr);
	justify-content: space-between;
	border-radius: 6px;
	padding-left: 3px;
	padding-right: 3px;
}
.button {
	background-color: royalblue;
	border-color: transparent;
	border-radius: 6px;
	margin-top: 10px;
	margin-bottom: 10px;
	transition: all 0.5s ease;
	color: #ffffff;
}
.button:hover {
	margin-top: 3px;
	margin-bottom: 3px;
}
